body{
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}


.App-header > h2{
  margin: 1.5rem;
  font-size: 1.5rem;
}